In [ ]:
import pandas as pd

Tratando dados faltantes em um DF

In [ ]:
dados = pd.read_csv('imoveis.csv', sep=';')          #Importando CSV

In [ ]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [ ]:
dados.isnull()   #Exibi campos vazios (null)

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32955  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True
32959  False   False    False  False   False  False  False       False  False

[32960 rows x 9 columns]

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
dados.isnull().sum() #Exibi o total de nulls

Tipo              0
Bairro            0
Quartos           0
Vagas             0
Suites            0
Area              0
Valor            17
Condominio     4093
IPTU          10237
dtype: int64

In [ ]:
contagem_valores_faltantes = dados.isnull().sum() #Add a variavel contagem de valores faltantes

In [ ]:
contagem_valores_faltantes

Tipo              0
Bairro            0
Quartos           0
Vagas             0
Suites            0
Area              0
Valor            17
Condominio     4093
IPTU          10237
dtype: int64

In [ ]:
#porcentagem de dados nulos na coluna Valor 
total = dados['Valor'].shape[0]
nulos = dados[dados['Valor'].isnull()].shape[0]
porcentagem = (nulos * 100)/total
print("A porcentagem de registros nulos nesta coluna é de", round(porcentagem, 2), "%")

A porcentagem de registros nulos nesta coluna é de 0.05 %

In [ ]:
porcentagem_geral_faltando = (contagem_valores_faltantes.sum()/dados.size) * 100
print("A porcentagem geral de registros nulos é de", round(porcentagem_geral_faltando, 2), "%")

A porcentagem geral de registros nulos é de 4.84 %

In [ ]:
dados['Valor'].isnull()      #Dados null na culuna Valor

0        False
1        False
2        False
3        False
4        False
         ...
32955    False
32956    False
32957    False
32958    False
32959    False
Name: Valor, Length: 32960, dtype: bool

In [ ]:
dados[dados['Valor'].isnull()]

                              Tipo                   Bairro  ...  Condominio    IPTU
76                     Apartamento          Barra da Tijuca  ...       970.0    68.0
2186                   Apartamento                     Leme  ...       878.0     NaN
2456                          Casa             Campo Grande  ...         NaN     NaN
2646                    Loja/Salão          Barra da Tijuca  ...         NaN     NaN
2941                   Apartamento                 Botafogo  ...      1010.0   170.0
2973                   Apartamento               Copacabana  ...       850.0     NaN
6598                    Loja/Salão                  Andaraí  ...         NaN  1140.0
7302                          Casa             Campo Grande  ...         NaN     NaN
12683                  Apartamento                     Leme  ...       878.0     NaN
13229                  Apartamento                   Glória  ...       910.0   228.0
13525                  Apartamento                    Gávea  ...       880.0   221.0
13579      Conjunto Comercial/Sala                 Botafogo  ...        10.0     NaN
20948      Conjunto Comercial/Sala  Freguesia (Jacarepaguá)  ...       500.0    74.0
21822  Loja Shopping/ Ct Comercial          Barra da Tijuca  ...      3600.0  1390.0
23056      Conjunto Comercial/Sala                 Botafogo  ...        10.0     NaN
24805      Conjunto Comercial/Sala                 Botafogo  ...        10.0     NaN
29166      Conjunto Comercial/Sala                 Botafogo  ...        10.0     NaN

[17 rows x 9 columns]

In [ ]:
print("O total de linhas com dados nulos, na coluna 'Valor', é de", dados[dados['Valor'].isnull()].shape[0])

O total de linhas com dados nulos, na coluna 'Valor', é de 17

In [ ]:
X = dados.shape[0]
X

32960

In [ ]:
dados.dropna(subset = ['Valor'], inplace = True)

In [ ]:
Y = dados.shape[0]
X - Y

17

In [ ]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [ ]:
dados['Condominio'].isnull()  #Dados null coluna Condominio

0        False
1         True
2        False
3        False
4        False
         ...
32955    False
32956    False
32957    False
32958    False
32959    False
Name: Condominio, Length: 32943, dtype: bool

In [ ]:
dados[dados['Condominio'].isnull()]

                     Tipo                   Bairro  ...  Condominio    IPTU
1                    Casa          Jardim Botânico  ...         NaN     NaN
5             Apartamento             Vista Alegre  ...         NaN     NaN
7      Casa de Condomínio          Barra da Tijuca  ...         NaN     NaN
8      Casa de Condomínio                    Ramos  ...         NaN     NaN
10            Apartamento                   Centro  ...         NaN     NaN
...                   ...                      ...  ...         ...     ...
32914          Loja/Salão             Campo Grande  ...         NaN     NaN
32928          Loja/Salão                   Leblon  ...         NaN  1113.0
32929          Loja/Salão  Freguesia (Jacarepaguá)  ...         NaN   215.0
32931                Casa                   Centro  ...         NaN    80.0
32954         Box/Garagem                   Centro  ...         NaN     NaN

[4089 rows x 9 columns]

In [ ]:
dados[dados['Condominio'].isnull()].shape

(4089, 9)

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

4089

In [ ]:
dados[(dados['Tipo'] == 'Apartamento')]

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
6      Apartamento              Cachambi        2  ...  1300.0       301.0  17.0
10     Apartamento                Centro        1  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
32951  Apartamento        Vila Valqueire        2  ...  1000.0       550.0   NaN
32953  Apartamento                 Méier        2  ...   900.0       490.0  48.0
32956  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
32957  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
32958  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[19525 rows x 9 columns]

In [ ]:
dados[(dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())]

              Tipo           Bairro  Quartos  ...   Valor  Condominio  IPTU
5      Apartamento     Vista Alegre        3  ...  1200.0         NaN   NaN
10     Apartamento           Centro        1  ...  1200.0         NaN   NaN
113    Apartamento       Praça Seca        2  ...  1000.0         NaN   NaN
166    Apartamento    Rocha Miranda        2  ...  1100.0         NaN   NaN
194    Apartamento  Barra da Tijuca        1  ...  2350.0         NaN   NaN
...            ...              ...      ...  ...     ...         ...   ...
32609  Apartamento       Copacabana        3  ...  4600.0         NaN   NaN
32643  Apartamento        Guadalupe        1  ...   550.0         NaN   NaN
32666  Apartamento       Bonsucesso        1  ...  1000.0         NaN   NaN
32708  Apartamento         Flamengo        2  ...  3500.0         NaN   NaN
32809  Apartamento        Cascadura        3  ...  1200.0         NaN   NaN

[745 rows x 9 columns]

In [ ]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())
selecao

0        False
1        False
2        False
3        False
4        False
         ...
32955    False
32956    False
32957    False
32958    False
32959    False
Length: 32943, dtype: bool

In [ ]:
type(selecao)

pandas.core.series.Series

In [ ]:
selecao.head(10)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
selecao.sample(10)

19457    False
24750    False
20890    False
31401    False
9493     False
19435    False
11700    False
9816     False
30063    False
5633     False
dtype: bool

In [ ]:
dados[~selecao]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         0.0     0.0
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     0.0
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     0.0
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32198 rows x 9 columns]

In [ ]:
X = dados.shape[0]

In [ ]:
dados = dados[~selecao]
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32198 rows x 9 columns]

In [ ]:
Y = dados.shape[0]
X - Y

745

In [ ]:
dados[dados['Condominio'].isnull()]

                     Tipo                   Bairro  ...  Condominio    IPTU
1                    Casa          Jardim Botânico  ...         NaN     NaN
7      Casa de Condomínio          Barra da Tijuca  ...         NaN     NaN
8      Casa de Condomínio                    Ramos  ...         NaN     NaN
16         Prédio Inteiro                 Botafogo  ...         NaN  3563.0
18     Casa de Condomínio                  Taquara  ...         NaN     NaN
...                   ...                      ...  ...         ...     ...
32914          Loja/Salão             Campo Grande  ...         NaN     NaN
32928          Loja/Salão                   Leblon  ...         NaN  1113.0
32929          Loja/Salão  Freguesia (Jacarepaguá)  ...         NaN   215.0
32931                Casa                   Centro  ...         NaN    80.0
32954         Box/Garagem                   Centro  ...         NaN     NaN

[3344 rows x 9 columns]

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

3344

In [ ]:
dados[dados['Valor'].isnull()].shape[0]

0

In [ ]:
dados.fillna({'Condominio': 0})  #Metodo Fillna utilizado para tapar buracos

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         0.0     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32198 rows x 9 columns]

In [ ]:
dados.fillna({'Condominio': 0}).head(20)

                       Tipo                   Bairro  ...  Condominio    IPTU
0                 Quitinete               Copacabana  ...       500.0    60.0
1                      Casa          Jardim Botânico  ...         0.0     NaN
2   Conjunto Comercial/Sala          Barra da Tijuca  ...      4020.0  1111.0
3               Apartamento                   Centro  ...       390.0    20.0
4               Apartamento             Higienópolis  ...       230.0     NaN
6               Apartamento                 Cachambi  ...       301.0    17.0
7        Casa de Condomínio          Barra da Tijuca  ...         0.0     NaN
8        Casa de Condomínio                    Ramos  ...         0.0     NaN
9   Conjunto Comercial/Sala                   Centro  ...     19193.0  3030.0
11              Apartamento                   Grajaú  ...       642.0    74.0
12              Apartamento      Lins de Vasconcelos  ...       455.0    14.0
13              Apartamento               Copacabana  ...       561.0    50.0
14                Quitinete               Copacabana  ...       501.0     NaN
15              Apartamento               Copacabana  ...      2000.0   803.0
16           Prédio Inteiro                 Botafogo  ...         0.0  3563.0
17                     Flat                 Botafogo  ...      1040.0     NaN
18       Casa de Condomínio                  Taquara  ...         0.0     NaN
19              Apartamento  Freguesia (Jacarepaguá)  ...       300.0    28.0
20              Apartamento          Barra da Tijuca  ...       589.0   147.0
21              Apartamento                   Tijuca  ...       700.0   138.0

[20 rows x 9 columns]

In [ ]:
dados.fillna({'Condominio': 0, 'IPTU': 0})

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         0.0     0.0
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     0.0
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     0.0
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32198 rows x 9 columns]

In [ ]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [ ]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32198 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32198 non-null  object
 1   Bairro      32198 non-null  object
 2   Quartos     32198 non-null  int64
 3   Vagas       32198 non-null  int64
 4   Suites      32198 non-null  int64
 5   Area        32198 non-null  int64
 6   Valor       32198 non-null  float64
 7   Condominio  32198 non-null  float64
 8   IPTU        32198 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

In [ ]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [ ]:
dados['IPTU'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
32955    False
32956    False
32957    False
32958    False
32959    False
Name: IPTU, Length: 32198, dtype: bool

In [ ]:
dados['IPTU']

0          60.0
1           0.0
2        1111.0
3          20.0
4           0.0
          ...
32955      25.0
32956      40.0
32957      37.0
32958       0.0
32959    1109.0
Name: IPTU, Length: 32198, dtype: float64

In [ ]:
dados.to_csv('imoveis_limpo.csv', sep=';', index = False)

Métodos de Interpolação 
# Proxima Aula

In [ ]:
data = [0.5, None, None, 0.52, 0.53, None, None, 0.59, 0.6, None, 0.7]

In [ ]:
s = pd.Series(data)

In [ ]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.53
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [ ]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.53
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [ ]:
# outro método: ffill
# inicia de cima pra baixo e copia o anterior para o próximo inválido
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.53
5     0.53
6     0.53
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [ ]:
# mesmo que ffill, só que de baixo para cima
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.53
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [ ]:
# preencher com a média de todos os valores não nulos da coluna
s.fillna(s.mean())

0     0.500000
1     0.573333
2     0.573333
3     0.520000
4     0.530000
5     0.573333
6     0.573333
7     0.590000
8     0.600000
9     0.573333
10    0.700000
dtype: float64