conectar google driver

In [ ]:
from google.colab import drive

drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#Importando modulos

import pandas as pd

In [ ]:
#carregando data frame

df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/pima-data.csv")

In [ ]:
df.head(5)

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790      True
1         1            85            66  ...   31  1.1426     False
2         8           183            64  ...   32  0.0000      True
3         1            89            66  ...   21  0.9062     False
4         0           137            40  ...   33  1.3790      True

[5 rows x 10 columns]

In [ ]:
df.shape

(768, 10)

In [ ]:
#Map variable

diabetes_map = {True : 1, False : 0}

In [ ]:
#Map app

df['diabetes'] = df['diabetes'].map(diabetes_map)

In [ ]:
df.head()

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790         1
1         1            85            66  ...   31  1.1426         0
2         8           183            64  ...   32  0.0000         1
3         1            89            66  ...   21  0.9062         0
4         0           137            40  ...   33  1.3790         1

[5 rows x 10 columns]

In [ ]:
#conferir dados

num_true = len(df.loc[df['diabetes'] == True])
num_false = len(df.loc[df['diabetes'] == False])

print("Numeros de casos verdadeiros: {0} ({1:2.2f}%) " .format(num_true, (num_true/ (num_true + num_false) * 100)))
print("Numeros de casos falsos: {0} ({1:2.2f}%) " .format(num_false, (num_false/ (num_true + num_false) * 100)))

Numeros de casos verdadeiros: 268 (34.90%)
Numeros de casos falsos: 500 (65.10%)

In [ ]:
#Spliting process

## 70 para treino e 30 para teste

In [ ]:
#Scikit Learn

from sklearn.model_selection import train_test_split

In [ ]:
#Selecionar quais as variavies preditoras ()

atributos = ['num_preg',	'glucose_conc',	'diastolic_bp',	'thickness',	'insulin',	'bmi',	'diab_pred',	'age']

In [ ]:
#Selecionar variabel prevista (Y)

atrib_prev = ['diabetes']

In [ ]:
# criar x e y

X = df[atributos].values
Y = df[atrib_prev].values

In [ ]:
X

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [ ]:
# Def taxa de spliting

split_test_size = 0.30

In [ ]:
# criar dados de treino e teste

X_treino, X_teste, Y_treino, Y_teste = train_test_split(X, Y, test_size = split_test_size, random_state = 42)

In [ ]:
print("{0:0.2f}% nos dados de treino".format((len(X_treino)/len(df.index))*100))
print("{0:0.2f}% nos dados de teste".format((len(X_teste)/len(df.index))*100))

69.92% nos dados de treino
30.08% nos dados de teste

In [ ]:
#valores nulos

df.isnull().values.any()

False

In [ ]:
#Falsos Nulos = 0 
print(len(df.loc[df['glucose_conc'] == 0]))

5

In [ ]:
#tratando dados missing

from sklearn.impute import SimpleImputer

#Imputer: Substitui valores 0 por algum dado (mean, Max, Value)

preenche_0 = SimpleImputer(missing_values=0, strategy='mean')

X_treino = preenche_0.fit_transform(X_treino)
X_teste = preenche_0.fit_transform(X_teste)

In [ ]:
#Cons e Treinando modelo

from sklearn.naive_bayes import GaussianNB

In [ ]:
#criando instancia 
modelo_v1 = GaussianNB()

In [ ]:
modelo_v1.fit(X_treino, Y_treino.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
#Virfy Exatidao treino (Acuracia)

#Pct metricas
from sklearn import metrics

In [ ]:
#Previsão modelo base gerado

nb_predict_train = modelo_v1.predict(X_treino)

In [ ]:
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_treino, nb_predict_train)))

Exatidão (acuracia):  0.7542)

In [ ]:
nb_predict_test = modelo_v1.predict(X_teste)

In [ ]:
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_teste, nb_predict_test)))

Exatidão (acuracia):  0.7359)

In [ ]:
#Utilizando Random Forest

from sklearn.ensemble import RandomForestClassifier

In [ ]:
modelo_v2 = RandomForestClassifier(random_state=42)
modelo_v2.fit(X_treino, Y_treino.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
rf_predict_train = modelo_v2.predict(X_treino)
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_treino, rf_predict_train)))

Exatidão (acuracia):  1.0000)

In [ ]:
rf_predict_test = modelo_v2.predict(X_teste)
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_teste, rf_predict_test)))

Exatidão (acuracia):  0.7403)

## Mais 3 algoritmos para treino

In [ ]:
#Extras :

#Usando ComplementNB (CNB)

from sklearn.naive_bayes import  ComplementNB

modelo_v3 = ComplementNB()

modelo_v3.fit(X_treino, Y_treino.ravel())

cnb_predict_train = modelo_v3.predict(X_treino)
cnb_predict_test = modelo_v3.predict(X_teste)

print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_treino, cnb_predict_train)))
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_teste, cnb_predict_test)))

Exatidão (acuracia):  0.6443)
Exatidão (acuracia):  0.6234)

In [ ]:
# Usando LARS Lasso

from sklearn import linear_model

modelo_v4 = linear_model.LassoLars()

modelo_v4.fit(X_treino, Y_treino.ravel())

lm_predict_train = modelo_v3.predict(X_treino)
lm_predict_test = modelo_v3.predict(X_teste)

print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_treino, lm_predict_train)))
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_teste, lm_predict_test)))

Exatidão (acuracia):  0.6443)
Exatidão (acuracia):  0.6234)

In [ ]:
# Usando SGDClassifier

from sklearn.linear_model import SGDClassifier

modelo_v5 = linear_model.SGDClassifier()

modelo_v5.fit(X_treino, Y_treino.ravel())



sgdc_predict_train = modelo_v5.predict(X_treino)
sgdc_predict_test = modelo_v5.predict(X_teste)



print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_treino, sgdc_predict_train)))
print("Exatidão (acuracia):  {0:.4f})".format(metrics.accuracy_score(Y_teste, sgdc_predict_test)))

Exatidão (acuracia):  0.6592)
Exatidão (acuracia):  0.6494)