In [1]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
#Importando m√≥dulos
import pandas as pd

In [10]:
#Carregando o DataSet Especificando Separador ","   DF = Lista de qualidade de vinhos

df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/winequality.csv", sep=',')

In [9]:
df.head(10)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [11]:
df.shape

(1599, 12)