In [2]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('winequality-red.csv')

df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [6]:
df.head(10)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [7]:
df.shape

(1599, 12)

In [ ]:
df.info()

# NÃ£o vai ser necessÃ¡rio fazer Mapeamento neste dataframe

In [96]:
#Spliting

#70% para treino e 30% teste

#scikit-learn 
from sklearn.model_selection import train_test_split

In [97]:
#Selecionar variaveis que preditoras () X
valores = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',  'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol']

#Selecionadas as variavÃ©is que tratam das caracterÃ­sticas dos vinhos, esses paramÃªtros irÃ£o servir para calcular a qualidade

In [98]:
# variÃ¡vel prevista (saÃ­da Y)
resultado = ['quality']

In [99]:
#Criar objetos X e Y
X = df[valores].values
Y = df[resultado].values

In [ ]:
X

In [29]:
#Definir a taxa do Split
split_test_size = 0.30

In [53]:
#Criar os dados de treino e teste
X_treino, X_teste, Y_treino, Y_teste = train_test_split(X, Y, test_size = split_test_size, random_state = 42)

In [54]:
print("{0:0.2f}% nos dados de treino".format((len(X_treino)/len(df.index))*100))
print("{0:0.2f}% nos dados de teste".format((len(X_teste)/len(df.index))*100))

69.98% nos dados de treino
30.02% nos dados de teste

In [71]:
df.isnull().values.any()

False

In [103]:
#Falsos Nulos (Zero)
print(len(df.loc[df['fixed acidity'] == 0]))
print(len(df.loc[df['volatile acidity'] == 0]))
print(len(df.loc[df['citric acid'] == 0]))
print(len(df.loc[df['residual sugar'] == 0]))
print(len(df.loc[df['chlorides'] == 0]))
print(len(df.loc[df['density'] == 0]))
print(len(df.loc[df['pH'] == 0]))
print(len(df.loc[df['sulphates'] == 0]))
print(len(df.loc[df['alcohol'] == 0]))

0
0
132
0
0
0
0
0
0

In [104]:
#Tratando os dados Missing
from sklearn.impute import SimpleImputer

#Imputer: substitui os valores zero por algum dados relevante com base em alguma estratÃ©gia (mean, )

In [105]:
#criar o objeto e setar a estratÃ©gia
preenche_0 = SimpleImputer(missing_values=0, strategy='mean')

#Aplicar a estratÃ©gia
X_treino = preenche_0.fit_transform(X_treino)
X_teste = preenche_0.fit_transform(X_teste)

In [106]:
X_treino

array([[ 8.6 ,  0.22,  0.36, ...,  3.47,  0.87, 11.  ],
       [12.5 ,  0.46,  0.63, ...,  2.99,  0.87, 10.2 ],
       [ 7.2 ,  0.54,  0.27, ...,  3.39,  0.71, 11.  ],
       ...,
       [ 7.2 ,  0.62,  0.06, ...,  3.51,  0.54,  9.5 ],
       [ 7.9 ,  0.2 ,  0.35, ...,  3.32,  0.8 , 11.9 ],
       [ 5.8 ,  0.29,  0.26, ...,  3.39,  0.54, 13.5 ]])

In [107]:
from numpy import random
import pandas as pd

#random.seed(5)
#random.randint(100, size=(3, 5))
#data_array = random.randint(100, size=(4, 3))

print("NumPy Data Array is:")
print(X_treino)

print("")

data_df = pd.DataFrame(X_treino)
print("The DataFrame generated from the NumPy array is:")
print(data_df)

NumPy Data Array is:
[[ 8.6   0.22  0.36 ...  3.47  0.87 11.  ]
 [12.5   0.46  0.63 ...  2.99  0.87 10.2 ]
 [ 7.2   0.54  0.27 ...  3.39  0.71 11.  ]
 ...
 [ 7.2   0.62  0.06 ...  3.51  0.54  9.5 ]
 [ 7.9   0.2   0.35 ...  3.32  0.8  11.9 ]
 [ 5.8   0.29  0.26 ...  3.39  0.54 13.5 ]]

The DataFrame generated from the NumPy array is:
        0      1         2    3      4     5     6        7     8     9     10
0      8.6  0.220  0.360000  1.9  0.064  53.0  77.0  0.99604  3.47  0.87  11.0
1     12.5  0.460  0.630000  2.0  0.071   6.0  15.0  0.99880  2.99  0.87  10.2
2      7.2  0.540  0.270000  2.6  0.084  12.0  78.0  0.99640  3.39  0.71  11.0
3      6.4  0.670  0.080000  2.1  0.045  19.0  48.0  0.99490  3.49  0.49  11.4
4      7.5  0.580  0.140000  2.2  0.077  27.0  60.0  0.99630  3.28  0.59   9.8
...    ...    ...       ...  ...    ...   ...   ...      ...   ...   ...   ...
1114   9.1  0.600  0.295034  1.9  0.058   5.0  10.0  0.99770  3.18  0.63  10.4
1115   8.2  0.635  0.100000  2.1  0.073  25.0  60.0  0.99638  3.29  0.75  10.9
1116   7.2  0.620  0.060000  2.7  0.077  15.0  85.0  0.99746  3.51  0.54   9.5
1117   7.9  0.200  0.350000  1.7  0.054   7.0  15.0  0.99458  3.32  0.80  11.9
1118   5.8  0.290  0.260000  1.7  0.063   3.0  11.0  0.99150  3.39  0.54  13.5

[1119 rows x 11 columns]

In [109]:
print(len(data_df.loc[data_df[2] == 0]))

0